html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  height: calc(100% - 20px);
  margin: 0 10px 10px;
  background-color: #ececec;
}
select {
  width: 100%;
  outline: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
fieldset tr {
  height: 32px;
}
fieldset td:first-child {
  width: 120px;
}
input[type=text] {
  outline: none;
  box-sizing: border-box;
  text-indent: 5px;
}
fieldset {
  background-color: #e2e2e2;
  margin: 10px 0;
  border: none;
}
a {
  text-decoration: none;
  margin-left: 5px;
}
a,
a:visited {
  color: #0075ff;
}
input[type=button] {
  margin: 0 1px;
  font-size: 11px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}
input[type=button]:active {
  opacity: 0.5;
}
select,
input[type=text] {
  border: none;
  border-radius: 0;
}
input,
select {
  height: 26px;
}
#list {
  overflow: auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
#list input[type=text] {
  width: 100%;
}
#list tr:nth-child(even) {
  background-color: #e2e2e2;
}
#list thead td:last-child {
  text-align: right;
}
#list tbody tr {
  cursor: pointer;
}
#list input[type=text] {
  background-color: transparent;
  border: none;
}
#list input[type=text]:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
#list td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#list tbody td[data-id="category"] span {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  border: solid 2px #fff;
  text-align: center;
  pointer-events: none;
}
#warning {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #e2e2e2;
  border: solid 1px #d3d3d3;
  font-size: 90%;
}
#warning[data-visible=false] {
  display: none;
}
body[data-pages=false] [data-id=pages],
body[data-images=false] [data-id=images],
body[data-videos=false] [data-id=videos],
body[data-audios=false] [data-id=audios],
body[data-applications=false] [data-id=applications] {
  display: none;
}

#notify {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #fcf8e3;
  border: solid 1px #faebcc;
  color: #8d6d3b;
  padding: 8px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#notify:empty {
  display: none;
}
#remote {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 11px;
}
#remote span {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
  background-color: #e2e2e2;
  margin-right: 2px;
  cursor: pointer;
}

[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[pack=center] {
  justify-content: center;
}
[pack=end] {
  justify-content: flex-end;
}
[align=center] {
  align-items: center;
}
